
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
				<a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
			</span>
			<span class="mh-btns-right">
				<a class="fa fa-sliders" href="#shoppingbag"></a>
			</span>
		</div>
		<div class="mh-head second">
			<form class="mh-form">
				<input placeholder="search" />
				<a href="#/" class="fa fa-search"></a>
			</form>
		</div>
	
		
	</div><!-- responsive header -->
	

	
	<section>
		<div class="ext-gap bluesh high-opacity">
			<div class="content-bg-wrap" style="background: url(/assets/images/resources/animated-bg2.png)"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="top-banner">
							<h1>404</h1>
							<nav class="breadcrumb">
							  <a class="breadcrumb-item" routerLink="/register">Register</a>
							  <span class="breadcrumb-item active">error</span>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area animated -->
	
	<section>
		<div class="gap100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-eror">
							<img src="/assets/images/resources/404.svg" alt="">
							<div class="error-meta">
								<h1>whoops! 404</h1>
								<span>we couldn't find that active code </span>
								<a routerLink="" title="" data-ripple="">Go Back Home</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<app-footer></app-footer>
	
</div>
	