<main>
    <div class="main-container">
        <div class="RegisterPage">
            <div class="RegisterPage__wrap">
                <div class="RegisterPage__container">
                    <div class="RegisterPage__boxes register">
                        <h2>Crea tu cuenta</h2>
                        <form class="go-bottom">
                            <div>
                                <input id="name" name="name" type="text" required>
                                <label for="name">Nombre</label>
                            </div>
                            <div>
                                <input id="surname" name="surname" type="text" required>
                                <label for="surname">Apellidos</label>
                            </div>
                            <div>
                                <input id="nickName" name="nickName" type="text" required>
                                <label for="nickName">Nickname</label>
                            </div>
                            <div>
                                <input id="email" name="email" type="email" required>
                                <label for="email">Email</label>
                            </div>
                            <div>
                                <input id="password" name="password" type="password" required>
                                <label for="password">Contraseña</label>
                            </div>
                            <div>
                                <input id="repeatPassword" name="repeatPassword" type="password" required>
                                <label for="repeatPassword">Repetir contraseña</label>
                            </div>
                            <div>
                                <button id="left-right-button" class="button button--left-right">
                                    <span>Registrarse</span>
                                </button>
                            </div>
                        </form>

                        <p class="alreadyAcount">¿Ya tienes una cuenta? <a class="standar-link" href="login.html">Inicia sesión</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
