<div class="widget stick-widget">
    <h4 class="widget-title">New Members</h4>
    <ul class="followers">
        <li *ngFor="let user of newUsers">
            <figure>
                <img *ngIf="user !== undefined && user !== null && user.profilePic === null"
                src="/assets/images/account.png" alt="">
            <img style="height: 50px;width: 50px;"
                *ngIf="user !== undefined && user !== null &&user.profilePic !== null"
                [src]="URL+'/ProfilePictures/'+user.profilePic" alt="">
            </figure>
            <div class="friend-meta">
                <h4><a href="time-line.html" title="">{{user.firstName}} {{user.lastName}}</a></h4>
                <a href="#" title="" class="underline">Add Friend</a>
            </div>
        </li>

    </ul>
</div>