<div id="mainpage" class="theme-layout" *ngIf="thisUser !== null">

	<app-responsive-menu></app-responsive-menu>
	<div class="topbar stick">
		<!-- log Section -->
		<div class="logo">
			<!-- <a title="" href="newsfeed.html"><img src="/assets/images/logo.png" alt=""></a> -->
			<h3 style="color: red;font-weight: bolder;">Beta</h3>
		</div>
		<!-- menu section -->
		<app-menu></app-menu>
	</div>
	<!-- topbar -->



	<!-- Cover Section -->
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="feature-photo">
					<figure *ngIf="thisUser !== undefined && thisUser !== null && thisUser.coverPic === null"><img src="/assets/images/resources/timeline-1.jpg" alt="Cover Picture"></figure> 
					<figure *ngIf="thisUser !== undefined && thisUser !== null && thisUser.coverPic !== null"><img style="max-height: 500px;" [src]="URL+'/CoverPictures/'+thisUser.coverPic" alt="Cover Picture"></figure>
					<!-- <div class="add-btn">
						<span>1205 followers</span>
						<a href="#" title="" data-ripple="">Add Friend</a>
					</div> -->
					<form class="edit-phto" (submit)="uploadNewCoverPic()">
						<i class="fa fa-camera-retro"></i>
						<label class="fileContainer">
							Edit Cover Photo
							<input (change)="addCoverPic($event)" type="file">
						</label>
					</form>
					<div class="container-fluid">
						<div class="row merged">
							<div class="col-lg-2 col-sm-3">
								<div class="user-avatar">
									<figure>
										<img *ngIf="thisUser !== undefined && thisUser !== null && thisUser.profilePic === null && !isLoading" src="/assets/images/account.png" alt="">
										<img *ngIf="isLoading" src="/assets/loadings/Pulse-1s-200px.gif" alt="">
										<img style="min-height: 120px;min-width: 120px;" *ngIf="thisUser !== undefined && thisUser !== null &&thisUser.profilePic !== null && !isLoading" [src]="URL+'/ProfilePictures/'+thisUser.profilePic" alt="">
										
										<form (submit)="uploadPic()" class="edit-phto">
											<i class="fa fa-camera-retro"></i>
											<label class="fileContainer">
												Edit Display Photo
												<input (change)="addPic($event)" type="file">
											</label>
										</form>
									</figure>
								</div>
							</div>
							<div class="col-lg-10 col-sm-9">
								<h5 *ngIf="thisUser !== undefined && thisUser !== null " style="font-weight: bold">{{thisUser.firstName}} {{thisUser.lastName}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<app-shortcuts></app-shortcuts>
									<!-- Shortcuts -->
									<app-recent-activities></app-recent-activities>
									<!-- recent activites -->
									<app-whos-following></app-whos-following>
									<!-- who's following -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<app-add-new-post (newPost)="getNewPost($event)"></app-add-new-post>
								<!-- add post new box -->

								<div class="loadMore">
									<!-------------------------------START new post------------------------------ -->
									<div class="central-meta item" *ngFor="let newPost of newPosts.reverse()"
										id="{{newPost.id}}">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img *ngIf="thisUser !== undefined && thisUser !== null && thisUser.profilePic === null" src="/assets/images/account.png" alt="">
													<img style="height: 50px;width: 50px;" *ngIf="thisUser !== undefined && thisUser !== null &&thisUser.profilePic !== null" [src]="URL+'/ProfilePictures/'+thisUser.profilePic" alt="">
												</figure>
												<div class="friend-name">
													<ins><a href="time-line.html" title="">{{thisUser.firstName}}
															{{thisUser.lastName}}</a></ins>
													<span>{{newPost.dateTime}}</span>
												</div>
												<div class="post-meta">
													<p>
														{{newPost.postText}}
													</p>
													<img src="{{URL}}/PostFiles/{{newPost.fileName}}" alt=""
														*ngIf="newPost.fileName != null">
													<div class="we-video-info">
														<ul>
															<li>
																<span class="views" data-toggle="tooltip" title="views">
																	<i class="fa fa-eye"></i>
																	<ins>1.2k</ins>
																</span>
															</li>
															<li>
																<span class="comment" data-toggle="tooltip"
																	title="Comments">
																	<i class="fa fa-comments-o"></i>
																	<ins>0</ins>
																</span>
															</li>
															<li>
																<span class="like" data-toggle="tooltip" title="like">
																	<i class="ti-heart"></i>
																	<ins>52</ins>
																</span>
															</li>
															<li class="social-media">
																<div class="menu">
																	<div class="btn trigger"><i
																			class="fa fa-share-alt"></i>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i class="fa fa-html5"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-facebook"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-google-plus"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-twitter"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i class="fa fa-css3"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-instagram"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-dribbble"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-pinterest"></i></a>
																		</div>
																	</div>

																</div>
															</li>
														</ul>
													</div>
													<div class="description">

													</div>
												</div>
											</div>
											<div class="coment-area">
												<ul class="we-comet">
													<!-- <li class="post-comment">
													<app-post-comment [postId]="newPost.id"></app-post-comment>
												</li> -->
												</ul>
											</div>
										</div>

									</div>
									<!-------------------------------END new post------------------------------ -->

									<app-user-posts (lastPostId)="lastPostId=$event"></app-user-posts>

									<!-------------------------- Load More Posts -------------------------->
									<div class="central-meta item" *ngFor="let post of posts" id="{{post.id}}">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="/assets/images/resources/friend-avatar9.jpg" alt="">
												</figure>
												<div class="friend-name">
													<ins><a href="time-line.html" title="">{{thisUser.firstName}}
															{{thisUser.lastName}}</a></ins>
													<span>{{post.dateTime}}</span>
												</div>
												<div class="post-meta">
													<p>
														{{post.postText}}
													</p>
													<img src="{{URL}}/PostFiles/{{post.fileName}}" alt=""
														*ngIf="post.fileName != null">
													<div class="we-video-info">
														<ul>
															<li>
																<span class="views" data-toggle="tooltip" title="views">
																	<i class="fa fa-eye"></i>
																	<ins>1.2k</ins>
																</span>
															</li>
															<li>
																<span class="comment" data-toggle="tooltip"
																	title="Comments">
																	<i class="fa fa-comments-o"></i>
																	<ins>0</ins>
																</span>
															</li>
															<li>
																<span class="like" data-toggle="tooltip" title="like">
																	<i class="ti-heart"></i>
																	<ins>52</ins>
																</span>
															</li>
															<li class="social-media">
																<div class="menu">
																	<div class="btn trigger"><i
																			class="fa fa-share-alt"></i>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i class="fa fa-html5"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-facebook"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-google-plus"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-twitter"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i class="fa fa-css3"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-instagram"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-dribbble"></i></a>
																		</div>
																	</div>
																	<div class="rotater">
																		<div class="btn btn-icon"><a href="#"
																				title=""><i
																					class="fa fa-pinterest"></i></a>
																		</div>
																	</div>

																</div>
															</li>
														</ul>
													</div>
													<div class="description">

													</div>
												</div>
											</div>
											<div class="coment-area">
												<ul class="we-comet">
													<!-- <li class="post-comment">
														<app-post-comment [postId]="newPost.id"></app-post-comment>
													</li> -->
												</ul>
											</div>
										</div>

									</div>
									<!-------------------------- End Load New Post -------------------------->
								</div>
								<form (submit)="loadMorePosts()">
									<button id="load-more" type="submit">Load More</button>
								</form>
								<!-- user posts -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<app-right-side-bar></app-right-side-bar>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Cover Section -->

	

	<app-footer></app-footer>
</div>
<app-settings></app-settings>
<!-- settings panel -->

<span id="loginForm"></span>
<span id="registerForm"></span>

<swal #profilePicError title="Oops" text="" icon="error" [showCancelButton]="true" [focusCancel]="true">
</swal>