<div class="theme-layout">
	<app-responsive-menu></app-responsive-menu>
	<div class="topbar stick" >
		<!-- log Section -->
		<div class="logo">
			<a title="" href="newsfeed.html"><img src="/assets/images/logo.png" alt=""></a>
		</div>
		<!-- menu section -->
		<app-menu></app-menu>
	</div>
	<!-- topbar -->
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<app-shortcuts></app-shortcuts>
									<!-- Shortcuts -->
									<app-recent-activities></app-recent-activities>
									<!-- recent activites -->
									<app-whos-following></app-whos-following>
									<!-- who's following -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<app-add-new-post></app-add-new-post>
								<!-- add post new box -->
								<app-user-posts></app-user-posts>
								<!-- user posts -->
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<app-right-side-bar></app-right-side-bar>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<app-footer></app-footer>
</div>
<app-settings></app-settings>
<!-- settings panel -->

<span id="loginForm"></span>
<span id="registerForm"></span>
