body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.main-container {
  background-color: #181818;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.text-error {
  color: red
}

.link {
  cursor: pointer;
}

.post-menu {
  height: auto;
  width: auto;
  padding: 20px 0px;
  background-color: white;
  border: 2px solid lightgray;
  z-index: 998;
  margin-top: -30px;
  display: none;
}

.post-menu ul {
  list-style: none;
  margin: 0px auto;
  text-align: center;
}

.post-menu ul li {
  margin-right: 38px;
}

.post-menu ul li:hover {
  color: rgb(75, 78, 236);
  font-weight: bold;
}